.prose {
  font-family:
    "Fira Code Operators",
    Inter,
    ui-sans-serif,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  font-variant-ligatures: contextual;
  font-feature-settings:
    "calt" 1,
    "liga" 1;
}

.prose code,
.prose pre {
  font-family:
    "Fira Code", ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  font-variant-ligatures: contextual;
  font-feature-settings:
    "calt" 1,
    "liga" 1;
}
